  <article>
    <div class="iframe-wrapper">
      <iframe src="https://www.youtube.com/embed/3ZCHsDqUAxs" frameborder="0" allowfullscreen></iframe>
    </div>

    <h1>Heading 1</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Link text</a> Quid autem habent admirationis, cum prope accesseris? In qua quid est boni praeter summam voluptatem, et eam sempiternam? Videmus igitur ut conquiescere ne infantes quidem possint. </p>

    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>

    <p>Lorem ipsum dolor sit amet</p>

    <blockquote>Hello, this is a block quote</blockquote>

    <p>Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster? Quis enim confidit semper sibi illud stabile et firmum permansurum, quod fragile et caducum sit? Duo Reges: constructio interrete. Mihi enim satis est, ipsis non satis. </p>

    <blockquote>Here's a block quote with a citation <p>Citation</p></blockquote>

    <p>His enim rebus detractis negat se reperire in asotorum vita quod reprehendat.</p>
    <img src="/img/wwytwg.png">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Deinde disputat, quod cuiusque generis animantium statui deceat extremum.</p>
    <img src="/img/efs.png" class="left">
    <p>Universa enim illorum ratione cum tota vestra confligendum puto. Minime vero, inquit ille, consentit. Quod si ita sit, cur opera philosophiae sit danda nescio. Duo Reges: constructio interrete.</p>

    <p>Ad eas enim res ab Epicuro praecepta dantur. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio?</p>
    <p>Quid ergo attinet gloriose loqui, nisi constanter loquare? Duo Reges: constructio interrete. Quibus ego vehementer assentior. Saepe ab Aristotele, a Theophrasto mirabiliter est laudata per se ipsa rerum scientia.</p>
    <img src="/img/efs.png" class="right">
    <p>Quamquam id quidem, infinitum est in hac urbe; Pauca mutat vel plura sane; Nunc de hominis summo bono quaeritur; Eadem nunc mea adversum te oratio est. Neque enim disputari sine reprehensione nec cum iracundia aut pertinacia recte disputari potest.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non est ista, inquam, Piso, magna dissensio.</p>

    <p> In qua quid est boni praeter summam voluptatem, et eam sempiternam? Nihilo beatiorem esse Metellum quam Regulum. Nam, ut paulo ante docui, augendae voluptatis finis est doloris omnis amotio.</p>
  </article>

